.category{
    .mint-header {
        height: 1.6rem;
        background-color: #fff;
        color: #464646;
        font-size: .53rem;
      }
      /*红魔竞技手机    &   手机     */
      .nub-title {
        height: 1.6rem;
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        font-size: .53rem;
        padding-left:.8rem;
      }
      .nub-title span {
        height: 1.36rem;
        line-height: 1.36rem;
        font-size: .53rem;
      }
      .nub-jingji .nub-jingji-ul {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        margin:0 .48rem;
      }
      .nub-jingji .nub-jingji-ul li{
        width: 25%;
        float: left;
        margin-top: .69rem;
        padding-right: 2px;
        box-sizing: border-box;
        min-height: 4.16rem;
        vertical-align: middle;
            list-style: none;
      }
      .nub-jingji .nub-jingji-ul li img{width:2rem;}

      .nub-jingji .nub-jingji-ul li p{
        margin-top: 15px;
        text-align: center;
        color: #4f4f4f;
      }
      
      
      /*间隙*/
      .jianxi{height:3px;background-color:#eeeeee}

}
