.header{
    height: 61px;
  header{
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    height: 61px;
    color: #464646;
    padding: 0 18px;
    font-size: 20px;
    h1{
      font-weight: 300;
    }
  }
}
